# -----------------------------------------------------------------------------
# Interactive Prompts during `chezmoi init`
# -----------------------------------------------------------------------------

{{ $is_personal := promptBoolOnce . "is_personal_machine" "Is this a personal machine" -}}

[data]
    is_personal_machine = {{ $is_personal }}
