{{- $colors := (include "../themes/catppuccin-contrast.toml" | fromToml).colors -}}
# Local Contrast palette; uses the upstream Catppuccin role mapping.
SHOWY_QUOTA_PALETTE_PRIMARY_GOOD={{ $colors.green | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_PRIMARY_WARN={{ $colors.yellow | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_PRIMARY_BAD={{ $colors.red | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_PRIMARY_UNKNOWN={{ $colors.overlay0 | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_BG={{ $colors.base | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_SURFACE={{ $colors.surface0 | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_TRACK={{ $colors.surface1 | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_ICON_TEXT={{ $colors.text | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_COUNTDOWN={{ $colors.subtext0 | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_COUNTDOWN_WARN={{ $colors.red | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_STALE={{ $colors.overlay0 | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_ELAPSED={{ $colors.mauve | trimPrefix "#" }}
SHOWY_QUOTA_PALETTE_ELAPSED_LONG={{ $colors.teal | trimPrefix "#" }}
